<div class="social-logins">
  <h4 class="text-center">Or, {{page}} with a Service Below</h4>
  <div class="col-sm-3 point" ng-click="registerWithProvider('facebook')">
    <img src="images/fb.png" />
  </div>
  <div class="col-sm-3 point" ng-click="registerWithProvider('github')">
    <img src="images/github.jpg" />
  </div>
  <div class="col-sm-3 point" ng-click="registerWithProvider('google')">
    <img src="images/google.png" />
  </div>
  <div class="col-sm-3 point" ng-click="registerWithProvider('twitter')">
    <img src="images/twitter.jpg" />
  </div>
</div>